In [1]:
import numpy as np
import pandas as pd
import hashlib
import random
import string

In [2]:
# path = r"~\Users\yuri.ferreira\Downloads\DTL5788105610320170606054005.txt"
path = "DTL5788105610320170606054005.txt"

In [3]:
raw_data = pd.read_csv(path, header = None)
new_data = pd.DataFrame()

In [4]:
new_data["Lote"] = raw_data[0].str[:2]

In [5]:
new_data["Data"] = pd.to_datetime(raw_data[0].str[2:10],format = '%Y%m%d')# %H:%M:%S')

In [6]:
new_data["hora"] = pd.to_datetime(raw_data[0].str[10:16],format = '%H:%M:%S', errors = 'ignore')

In [7]:
new_data["Local"] = raw_data[0].str[16:20]

In [8]:
new_data["Faixa"] = raw_data[0].str[20:21]

In [9]:
new_data["entre_faixa"] = raw_data[0].str[21:22]

In [10]:
new_data["registro"] = raw_data[0].str[22:29]

In [11]:
new_data["tipo_registro"] = raw_data[0].str[29:30]

In [12]:
new_data["placa"] = raw_data[0].str[30:37]

In [13]:
new_data["especie_veiculo"] = raw_data[0].str[37:38]

In [14]:
new_data["especie_veiculo"] = raw_data[0].str[37:38]

In [15]:
new_data["classe_veiculo"] = raw_data[0].str[38:39]

In [16]:
new_data["comprimento_veiculo"] = raw_data[0].str[39:42]

In [17]:
new_data["velocidade_pontual"] = raw_data[0].str[42:45]

In [18]:
new_data["tempo_ocupacao"] = raw_data[0].str[45:50]

In [19]:
new_data["velocidade_media"] = raw_data[0].str[50:53]

In [25]:
new_data = new_data.drop(columns = ["placa"])

In [27]:
new_data

,Lote,Data,hora,Local,Faixa,entre_faixa,registro,tipo_registro,especie_veiculo,classe_veiculo,comprimento_veiculo,velocidade_pontual,tempo_ocupacao,velocidade_media
0,L5,2018-06-06,053618,7881,3,0,0097595,0,1,0,000,125,00046,000
1,L5,2018-06-06,053624,7881,3,0,0097596,0,1,0,000,100,00078,000
2,L5,2018-06-06,053630,7881,3,0,0097597,0,1,0,000,114,00110,000
3,L5,2018-06-06,053636,7881,3,0,0097598,0,1,0,000,117,00063,000
4,L5,2018-06-06,053638,7881,3,0,0097599,0,1,0,000,119,00063,000
5,L5,2018-06-06,053701,7881,3,0,0097600,0,1,0,000,033,00000,000
6,L5,2018-06-06,053706,7881,3,0,0097601,0,1,0,000,017,01482,000
7,L5,2018-06-06,053718,7881,3,0,0097602,0,1,0,000,039,09875,000
8,L5,2018-06-06,053732,7881,3,0,0097603,0,1,0,000,033,00171,000
9,L5,2018-06-06,053735,7881,3,0,0097604,0,1,0,000,058,00140,000
10,L5,2018-06-06,053737,7881,3,0,0097605,0,1,0,000,058,00125,000
11,L5,2018-06-06,053740,7881,3,0,0097606,0,1,0,000,064,00078,000
12,L5,2018-06-06,053742,7881,3,0,0097607,0,1,0,000,069,00109,000
13,L5,2018-06-06,053807,7881,3,0,0097608,0,1,0,000,108,00094,000
14,L5,2018-06-06,053810,7881,3,0,0097609,0,1,0,000,106,00046,000
15,L5,2018-06-06,053811,7881,3,0,0097610,0,1,0,000,103,00094,000
16,L5,2018-06-06,053813,7881,3,0,0097611,0,1,0,000,108,00047,000
17,L5,2018-06-06,053827,7881,3,0,0097612,0,1,0,000,081,00109,000
18,L5,2018-06-06,053828,7881,3,0,0097613,0,1,0,000,078,00093,000
19,L5,2018-06-06,053830,7881,3,0,0097614,0,1,0,000,081,00062,000
20,L5,2018-06-06,053833,7881,3,0,0097615,0,3,1,000,083,00094,000
21,L5,2018-06-06,053835,7881,3,0,0097616,0,2,1,000,089,00094,000
22,L5,2018-06-06,053837,7881,3,0,0097617,0,1,0,000,072,00094,000
23,L5,2018-06-06,053853,7881,3,0,0097618,0,1,0,000,100,00078,000
24,L2,2018-06-06,053855,4558,3,0,0097619,0,1,0,000,106,00078,000
25,L2,2018-06-06,053912,4558,3,0,0097620,0,3,1,000,119,00046,000
26,L2,2018-06-06,053915,4558,3,0,0097621,0,1,0,000,100,00062,000
27,L2,2018-06-06,053920,4558,3,0,0097622,0,1,0,000,100,00078,000
28,L2,2018-06-06,053928,4558,3,0,0097623,0,1,0,000,108,00062,000
29,L2,2018-06-06,053936,4558,3,0,0097624,0,1,0,000,047,00234,000
30,L2,2018-06-06,053959,4558,2,1,0097625,2,,,,,,

In [26]:
new_data.to_csv("txt_to_csv.csv")